@page "/infoslide"

@using RCLProdutos.Shared.CardProduto


<div class='centered'>
    <div class="slide-description-top">
        <div>
            <p class="font-valor1">@infoProduto!.Nome</p>
        </div>
    </div>

</div>


