body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.loginModalSubmitButton {
    margin-top: 10px;
}

.loginModalBackButton {
    margin-top: 10px;
}

.form-label {
    margin-top: 10px;
}

/* ======= MODAL MENSAGEM LOGIN CONFORAM ========= */

.modalMensagem {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalMensagem-content {
    background-color: #ffffff;
    color: #333;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modalMensagem-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4CAF50;
}

.modalMensagem-body {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.modalMensagem button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

    .modalMensagem button:hover {
        background-color: #45a049;
    }