@page "/"
@using MyMEDIA.Client.Components.Slider
@using MyMEDIA.Client.Components.Cards

<PageTitle>MyMEDIA - Home</PageTitle>

<div class="container-fluid p-0">
    <SliderComponent />

    <div class="container mt-5">
        <CardsCarousel Titulo="Mais Vendidos" />
        <CardsCarousel Titulo="Promoções" />
    </div>
</div>
